* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  background: #63805f;
  font-size: 1em;

  h1 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  section {
    display: grid;
    margin: 1em;
    padding: 1em;

    .item {
      margin: 0.5em;

      h3,
      span {
        margin: 0.4em;
      }
    }
  }
}
